@font-face {
  font-family: 'DancingScript';
  src: local('DancingScript'), url(/fonts/DancingScript.ttf) format('truetype');
}

.quoteFace {
    font-family: DancingScript;
}

.aphorism .actionBar {
    opacity: 0;
}

.aphorism:hover .actionBar {
    opacity: 1;
}
