.portal-visible {
    transition: transform 200ms;
    transform: translateY(5rem);
}

.portal-hidden {
    opacity: 0;
    transform: translateY(-500px);
}

.blur-visible {
    position: fixed;
    inset: 0px;

    background-color: rgb(15 23 42 / 0.25);
    --tw-backdrop-blur: blur(4px);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);

    transition: opacity 150ms;
    opacity: 1;
}

.blur-hidden {
    opacity: 0;
}
