@font-face {
  font-family: 'Oswald';
  src: local('Oswald'), url(/fonts/Oswald.ttf) format('truetype');
}

.navbar {
    display: flex;
    max-width: 1120px;
    width: 100%;
    height: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.container__homeLink {
    display: flex;
    height: 100%;
    margin-right: auto;
    align-items: center;
    color: rgb(255 255 255);
    font-family: Oswald;
    font-size: 1.5em;
    font-weight: 500;
}

.container__link {
    display: flex;
    height: 100%;
    padding: 0.75em;
    align-items: center;
    color: rgb(255 255 255);
}

.container__link:hover {
    text-decoration: underline;
}
