@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;
  overflow: overlay;
}

article p {
    margin-bottom: 0.5rem;
    text-indent: 2rem;
    color: rgb(31 41 55);
}
